html, body{

}

.grass, .sky {
  position: relative;
}

.grass{
  height: 30%;
  background: seagreen;
}

.sky{
  height: 40%;
  background: skyblue;
}

.cirlce{
  width: 100px;
  padding: 50px;
  line-height: 0;
  margin: 60px auto;
  background: pink;
  color: white;
  border-radius: 50px;
  
  position: absolute;
  top: -40px;
  left: 8px;
  animation-name: drive;
  animation-duration: 3s;
}

@keyframes drive{
  from{ top: 0px }
  to{ top: 500px }
}
