body{
    background: lightblue;
    text-align: center;
    

}

.wrapper{
    width: 100%;
    padding: 20pc;
    box-sizing: border-box;
    
}

img{
    transform: translateX( 200px) ;
    transform: scaleX(3);
    
}
